@import 'styles/utils';

.card {
  margin: 30px 30px;
  width: 280px;
  height: 280px;
  background: $white;
  border-radius: 20px;
  box-shadow: 4px 4px 20px $gray3;
  text-align: left;
  overflow: hidden;
  transition: 0.3s;

  &:hover {
    transform: translateY(-5%);
  }
}

.card_info {
  display: flex;
  flex-direction: column;
  padding: 12px 12px;
  height: 136px;
  color: $black;

  .card:hover & {
    color: $darkpink;
  }
}

.team_name {
  color: $gray4;
}

.team_title {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
}

.team_condition {
  display: flex;
  justify-content: space-between;
}
