@mixin primary-button {
  background: $white;
  border: 2px solid $hotpink;
  border-radius: 20px;
  color: $darkpink;
  transition: all 0.4s;

  &:hover {
    background: $btnPrimary-gradient;
    color: $white;
  }
}

@mixin link-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
