$white: #fff;
$gray1: #fafafa;
$gray2: #eee;
$gray3: #ddd;
$gray4: #999;
$gray5: #666;
$black: #010101;
$hotpink: #ff2da4;
$darkpink: #d8007a;
$blue: #00b1ff;
$purple: #9900f1;

$btnPrimary-gradient: linear-gradient(to right, #d02ef8, #ff2da4);
